* {
  background-color: aqua;
}

span.brown {
  color: brown;
  display: inline-block;
  width: 60px;
}

span.blue {
  color: blue;
}

a#link ~ p {
  background-color: #ff0000;
}

div p {
  background-color: yellow;
}
